body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #ec6f3de1, #f74f08);
    display: flex;
    background-image: url(img.jpg);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #012933;
}

.display {
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 2em;
    border: 1px solid #16a2f3;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: #157885e1;
    color: #fff;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #08bff7;
}
